/****** Object:  Table [dbo].[TAB_BUILING_DEPARTMENT_MAPPING]    Script Date: 8/5/2021 7:47:21 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING](
	[ID] [uniqueidentifier] NOT NULL,
	[DEPT_ID] [uniqueidentifier] NOT NULL,
	[BUILDING_ID] [uniqueidentifier] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
 CONSTRAINT [PK_TAB_BUILDING_DEPARTMENT_MAPPING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_TAB_BUILDING_DEPARTMENT_MAPPING_TAB_BUILDING_MASTER] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[TAB_DEPARTMENT_MASTER] ([DEPT_ID])
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING] CHECK CONSTRAINT [FK_TAB_BUILDING_DEPARTMENT_MAPPING_TAB_BUILDING_MASTER]
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_TAB_BUILDING_DEPARTMENT_MAPPING_TAB_BUILDING_MASTER1] FOREIGN KEY([BUILDING_ID])
REFERENCES [dbo].[TAB_BUILDING_MASTER] ([BUILDING_ID])
GO

ALTER TABLE [dbo].[TAB_BUILDING_DEPARTMENT_MAPPING] CHECK CONSTRAINT [FK_TAB_BUILDING_DEPARTMENT_MAPPING_TAB_BUILDING_MASTER1]
GO

insert into dbo.[TAB_BUILDING_DEPARTMENT_MAPPING]
values(newid(), '8D891636-59B8-4AA2-BDA2-1793E6C105AB', 'B31E2DC8-9A41-EB11-9471-8CDCD4D2C4BC', GETDATE(), null, null, null)
insert into dbo.[TAB_BUILDING_DEPARTMENT_MAPPING]
values(newid(),'3DA08C1E-C56B-4499-9D27-22C88B28CD30', 'B31E2DC8-9A41-EB11-9471-8CDCD4D2C4BC', GETDATE(), null, null, null)
insert into dbo.[TAB_BUILDING_DEPARTMENT_MAPPING]
values(newid(),'3A3CC7D1-E65B-EB11-9474-8CDCD4D2C4BC', 'B31E2DC8-9A41-EB11-9471-8CDCD4D2C4BC', GETDATE(), null, null, null)
 
 --whatsapp mail template
insert into dbo.TAB_MAIL_TEMPLATE 
  values('NewUserSmsMsg', 'You have been added as a application user in WFM. Your username is [USER_LOGIN_ID] and password is [CURRENT_PASSWORD].', NULL)

--delete table records related to MRF
delete from dbo.TAB_MRF_DETAILS
Go
delete from dbo.TAB_MRF
Go

drop table dbo.TAB_MRF_DETAILS
Go
CREATE TABLE [dbo].[TAB_MRF_DETAILS](
	[TAB_MRF_DETAIL_ID] [uniqueidentifier] NOT NULL,
	[MRP_INETRNAL_ID] [uniqueidentifier] NOT NULL,
	[BUILDING_ID] [uniqueidentifier] NULL,
	[FLOOR_ID] [uniqueidentifier] NULL,
	[SKILL_ID] [uniqueidentifier] NULL,
	[WF_DESIGNATION_ID] [smallint] NULL,
	[WF_EMP_TYPE] [smallint] NULL,
	[WOKFORCE_QUANTITY] [smallint] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
 CONSTRAINT [PK_TAB_MRF_DETAILS] PRIMARY KEY CLUSTERED 
(
	[TAB_MRF_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS] ADD  DEFAULT (newsequentialid()) FOR [TAB_MRF_DETAIL_ID]
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([BUILDING_ID])
REFERENCES [dbo].[TAB_BUILDING_MASTER] ([BUILDING_ID])
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([FLOOR_ID])
REFERENCES [dbo].[TAB_DEPARTMENT_MASTER] ([DEPT_ID])
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([MRP_INETRNAL_ID])
REFERENCES [dbo].[TAB_MRF] ([MRP_INETRNAL_ID])
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([SKILL_ID])
REFERENCES [dbo].[TAB_SKILL_MASTER] ([SKILL_ID])
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([WF_DESIGNATION_ID])
REFERENCES [dbo].[TAB_WF_DESIGNATION_MASTER] ([WF_DESIGNATION_ID])
GO

ALTER TABLE [dbo].[TAB_MRF_DETAILS]  WITH CHECK ADD FOREIGN KEY([WF_EMP_TYPE])
REFERENCES [dbo].[TAB_WORFORCE_TYPE] ([WF_EMP_TYPE])
GO

--Updating menu iconclass
update dbo.TAB_MENU set ICONCLASS = 'ti-user' where ID = '55514AD4-6D66-EB11-BF71-A45D3669901F'
update dbo.TAB_MENU set ICONCLASS = 'ti-face-smile' where ID = 'ABD98032-4089-4607-AFD5-93C84689E974'

--Update workforce mobile numbers
Update dbo.TAB_WORKFORCE_MASTER set MOBILE_NO = (SELECT CONVERT(numeric(16,0), CAST(MOBILE_NO AS FLOAT)))
Update dbo.TAB_WORKFORCE_MASTER set ALTERNATE_NO = (SELECT CONVERT(numeric(16,0), CAST(MOBILE_NO AS FLOAT)))
