<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add connectionString="Data Source=DESKTOP-N7V8S7F\SQLEXPRESS;Initial Catalog=WFMSUMIT;Integrated Security=SSPI;" name="ConStr"/>
    </connectionStrings>
</configuration>