<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SQLLogLevel" value="info" />
    <add key="FileLogLevel" value="info" />
    <add key="isSQLLogLevelEnabled" value="true" />
    <add key="isFileLogLevelEnabled" value="true" />
    <add key="SqlConnectionString" value="Data Source=172.20.1.106; Initial Catalog=WFM; User ID=sa; Password=sql@karam2o19;" />
  </appSettings>
	<connectionStrings>
    <add name="ApplicationEntities" connectionString="metadata=res://*/WfmDataModel.csdl|res://*/WfmDataModel.ssdl|res://*/WfmDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.1.106;initial catalog=WFMSUMIT;User ID=sa;Password=sql@karam2o19;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
