@{
    Layout = null;
}

<table style="width: 100%; text-align: center; padding-left: 3%; padding-right:3%;">
    <tr>
        <td style="font-weight: bold;" colspan="15">[CMPNAME]</td>
    </tr>
    <tr>
        <td style="font-weight: bold;" colspan="15">[CMPNAME_ADDRESS]</td>
    </tr>
    <tr>
        <td style="font-weight: bold; outline: thin solid; height: 40px">EMP_CODE</td>
        <td style="font-weight: bold; outline: thin solid">[EMP_CODE]</td>
        <td colspan="13" style="text-align:right">Salary Slip for the Month of [MONTH_YY]</td>
    </tr>
    <tr><td colspan="15"></td></tr>
    <tr style="outline: thin solid">
        <td style="width: 50px; border-right: thin solid; width: 12%">Name</td>
        <td style="border-right: thin solid;width:12%">Department</td>
        <td style="border-right: thin solid; width: 12%">UAN</td>
        <td style="border-right: thin solid;">ESIC</td>
        <td style="width: 60px; border-right: thin solid;">Wages Rate</td>
        <td style="width: 40px; border-right: thin solid;">Actual Paid Days</td>
        <td style="width: 14%; border-right: thin solid;text-align:center" colspan="3">
            <table width="100%" style="text-align: center; border-collapse: collapse; border-style: hidden;">
                <tr >
                    <td style="border: 1px solid black;" colspan="3">Earned Wages</td>
                </tr>
                <tr>
                    <td style="width:50px;border: 1px solid black;">Basic + DA</td>
                    <td style="width:50px;border: 1px solid black;">HR Allowances</td>
                    <td style="width:50px;border: 1px solid black;">Total</td>
                </tr>
            </table>
        </td>
        <td style="width: 10%; border-right: thin solid;" colspan="3">
            <table width="100%" style="text-align: center; border-collapse: collapse; border-style: hidden;">
                <tr >
                    <td style="border: 1px solid black;" colspan="3">Deduction</td>
                </tr>
                <tr>
                    <td style="width:40px;border: 1px solid black;">P.F.</td>
                    <td style="width:40px;border: 1px solid black;">ESI</td>
                    <td style="width:40px;border: 1px solid black;">Fine / Advance</td>
                </tr>
            </table>
        </td>
        <td style="border-right: thin solid;width:55px;">Actual Wages Paid</td>
        <td style="width:10%;" colspan="2">
            <table width="100%" style="text-align: center; border-collapse: collapse; border-style: hidden;">
                <tr>
                    <td style="border: 1px solid black;" colspan="2">Employer's Contribution</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">EPF</td>
                    <td style="border: 1px solid black;">ESI</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="outline: thin solid">
        <td style="border-right: thin solid;">[EMP_NAME]</td>
        <td style="border-right: thin solid;">[DEPARTMENT]</td>
        <td style="border-right: thin solid;">[UAN]</td>
        <td style="border-right: thin solid;">[ESIC]</td>
        <td style="border-right: thin solid;">[WAGES_RATE]</td>
        <td style="border-right: thin solid;">[ACTUAL_PAID_DAY]</td>
        <td style="border-right: thin solid;">[BASIC_DA]</td>
        <td style="border-right: thin solid;">[HR_ALL]</td>
        <td style="border-right: thin solid;">[TOTAL]</td>
        <td style="border-right: thin solid;">[WF_EPF]</td>
        <td style="border-right: thin solid;">[WF_ESI]</td>
        <td style="border-right: thin solid;">[FINE_OR_ADVANCE]</td>
        <td style="border-right: thin solid;">[ACTUAL_WAGES_PAID]</td>
        <td style="border-right: thin solid;">[CONTRI_EPF]</td>
        <td>[CONTRI_ESI]</td>
    </tr>
    <tr>
        <td style="text-align: right; padding-right: 50px;font-weight:bold;height:80px;" colspan="15">(Signature of Employee)</td>
    </tr>
</table>
