ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [FK__TAB_ITEM___ITEM___2B947552]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [FK__TAB_ITEM___ITEM___0D44F85C]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [FK__TAB_ITEM___COMPA__2AA05119]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [FK__TAB_ITEM___COMPA__0C50D423]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] DROP CONSTRAINT [FK_TAB_ITEM_CODE_TAB_SUBDEPARTMENT_MASTER]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] DROP CONSTRAINT [FK_TAB_ITEM_CODE_TAB_DEPARTMENT_MASTER]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] DROP CONSTRAINT [FK_TAB_ITEM_CODE_TAB_COMPANY_MASTER1]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___STATU__395884C4]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___CREAT__3864608B]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___UNIQU__37703C52]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___STATU__367C1819]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___CREAT__3587F3E0]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] DROP CONSTRAINT [DF__TAB_ITEM___ITEM___3493CFA7]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] DROP CONSTRAINT [DF_TAB_ITEM_CODE_CREATED_DATE]
GO
/****** Object:  Table [dbo].[TAB_WORKFORCE_DAILYWORK]   Script Date: 18/09/2021 15:47:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAB_WORKFORCE_DAILYWORK]') AND type in (N'U'))
DROP TABLE [dbo].[TAB_WORKFORCE_DAILYWORK]
GO
/****** Object:  Table [dbo].[TAB_WORKFORCE_DAILYWORK]    Script Date: 18/09/2021 15:47:34 ******/
/****** Object:  Table [dbo].[TAB_WF_WORK_DETAILS]   Script Date: 18/09/2021 15:47:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAB_WF_WORK_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[TAB_WF_WORK_DETAILS]
GO
/****** Object:  Table [dbo].[TAB_WF_WORK_DETAILS]    Script Date: 18/09/2021 15:47:34 ******/
/****** Object:  Table [dbo].[TAB_ITEM_OPERATION_MASTER]    Script Date: 18/09/2021 15:47:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAB_ITEM_OPERATION_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[TAB_ITEM_OPERATION_MASTER]
GO
/****** Object:  Table [dbo].[TAB_ITEM_MASTER]    Script Date: 18/09/2021 15:47:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAB_ITEM_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[TAB_ITEM_MASTER]
GO
/****** Object:  Table [dbo].[TAB_ITEM_CODE]    Script Date: 18/09/2021 15:47:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAB_ITEM_CODE]') AND type in (N'U'))
DROP TABLE [dbo].[TAB_ITEM_CODE]
GO
/****** Object:  Table [dbo].[TAB_WORKFORCE_DAILYWORK]    Script Date: 18/09/2021 15:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_ITEM_CODE](
	[ITEM_CODE_ID] [uniqueidentifier] NOT NULL,
	[ITEM_CODE_NAME] [nvarchar](150) NOT NULL,
	[COMPANY_ID] [uniqueidentifier] NOT NULL,
	[DEPT_ID] [uniqueidentifier] NOT NULL,
	[SUBDEPT_ID] [uniqueidentifier] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NOT NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
 CONSTRAINT [PK_TAB_ITEM_CODE] PRIMARY KEY CLUSTERED 
(
	[ITEM_CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_ITEM_MASTER]    Script Date: 18/09/2021 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_ITEM_MASTER](
	[ITEM_ID] [uniqueidentifier] NOT NULL,
	[DEPT_ID] [uniqueidentifier] NOT NULL,
	[SUBDEPT_ID] [uniqueidentifier] NOT NULL,
	[ITEM_CODE_ID] [uniqueidentifier] NOT NULL,
	[COMPANY_ID] [uniqueidentifier] NOT NULL,
	[ITEM_NAME] [varchar](200) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[STATUS] [char](1) NOT NULL,
 CONSTRAINT [PK__TAB_ITEM__ADFD89A0DBFFD139] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_ITEM_OPERATION_MASTER]    Script Date: 18/09/2021 15:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_ITEM_OPERATION_MASTER](
	[UNIQUE_OPERATION_ID] [uniqueidentifier] NOT NULL,
	[COMPANY_ID] [uniqueidentifier] NOT NULL,
	[ITEM_ID] [uniqueidentifier] NOT NULL,
	[RATE] [float] NULL,
	[OPERATION] [varchar](100) NULL,
	[PERCENTAGE] [float] NULL,
	[RATE_APPLIED_DATE] [date] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[STATUS] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIQUE_OPERATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] ADD  CONSTRAINT [DF_TAB_ITEM_CODE_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] ADD  CONSTRAINT [DF__TAB_ITEM___ITEM___3493CFA7]  DEFAULT (newsequentialid()) FOR [ITEM_ID]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] ADD  CONSTRAINT [DF__TAB_ITEM___CREAT__3587F3E0]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TAB_ITEM_MASTER] ADD  CONSTRAINT [DF__TAB_ITEM___STATU__367C1819]  DEFAULT ('Y') FOR [STATUS]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] ADD  DEFAULT (newsequentialid()) FOR [UNIQUE_OPERATION_ID]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] ADD  DEFAULT ('Y') FOR [STATUS]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE]  WITH CHECK ADD  CONSTRAINT [FK_TAB_ITEM_CODE_TAB_COMPANY_MASTER1] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[TAB_COMPANY_MASTER] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] CHECK CONSTRAINT [FK_TAB_ITEM_CODE_TAB_COMPANY_MASTER1]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE]  WITH CHECK ADD  CONSTRAINT [FK_TAB_ITEM_CODE_TAB_DEPARTMENT_MASTER] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[TAB_DEPARTMENT_MASTER] ([DEPT_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] CHECK CONSTRAINT [FK_TAB_ITEM_CODE_TAB_DEPARTMENT_MASTER]
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE]  WITH CHECK ADD  CONSTRAINT [FK_TAB_ITEM_CODE_TAB_SUBDEPARTMENT_MASTER] FOREIGN KEY([SUBDEPT_ID])
REFERENCES [dbo].[TAB_SUBDEPARTMENT_MASTER] ([SUBDEPT_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_CODE] CHECK CONSTRAINT [FK_TAB_ITEM_CODE_TAB_SUBDEPARTMENT_MASTER]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[TAB_COMPANY_MASTER] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[TAB_COMPANY_MASTER] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER]  WITH CHECK ADD  CONSTRAINT [FK__TAB_ITEM___ITEM___0D44F85C] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[TAB_ITEM_MASTER] ([ITEM_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] CHECK CONSTRAINT [FK__TAB_ITEM___ITEM___0D44F85C]
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER]  WITH CHECK ADD  CONSTRAINT [FK__TAB_ITEM___ITEM___2B947552] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[TAB_ITEM_MASTER] ([ITEM_ID])
GO
ALTER TABLE [dbo].[TAB_ITEM_OPERATION_MASTER] CHECK CONSTRAINT [FK__TAB_ITEM___ITEM___2B947552]
GO

--daily work table
CREATE TABLE [dbo].[TAB_WORKFORCE_DAILYWORK](
	[ID] [uniqueidentifier] NOT NULL,
	[WF_ID] [uniqueidentifier] NOT NULL,
	[RATE] [float] NOT NULL,
	[WORK_DATE] [date] NULL,
	[UNIQUE_OPERATION_ID] [uniqueidentifier] NOT NULL,
	[ITEM_ID] [uniqueidentifier] NOT NULL,
	[QTY] [int] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
 CONSTRAINT [PK__TAB_WORK__3214EC278A2F576D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK] ADD  CONSTRAINT [DF__TAB_WORKFORC__ID__59B045BD]  DEFAULT (newsequentialid()) FOR [ID]
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK] ADD  CONSTRAINT [DF__TAB_WORKF__CREAT__5AA469F6]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK]  WITH CHECK ADD  CONSTRAINT [FK__TAB_WORKF__WF_ID__5B988E2F] FOREIGN KEY([WF_ID])
REFERENCES [dbo].[TAB_WORKFORCE_MASTER] ([WF_ID])
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK] CHECK CONSTRAINT [FK__TAB_WORKF__WF_ID__5B988E2F]
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK]  WITH CHECK ADD  CONSTRAINT [FK_TAB_WORKFORCE_DAILYWORK_TAB_ITEM_MASTER] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[TAB_ITEM_MASTER] ([ITEM_ID])
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK] CHECK CONSTRAINT [FK_TAB_WORKFORCE_DAILYWORK_TAB_ITEM_MASTER]
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK]  WITH CHECK ADD  CONSTRAINT [FK_TAB_WORKFORCE_DAILYWORK_TAB_ITEM_OPERATION_MASTER] FOREIGN KEY([UNIQUE_OPERATION_ID])
REFERENCES [dbo].[TAB_ITEM_OPERATION_MASTER] ([UNIQUE_OPERATION_ID])
GO

ALTER TABLE [dbo].[TAB_WORKFORCE_DAILYWORK] CHECK CONSTRAINT [FK_TAB_WORKFORCE_DAILYWORK_TAB_ITEM_OPERATION_MASTER]
GO

-- wf work details
CREATE TABLE [dbo].[TAB_WF_WORK_DETAILS](
	[WF_ID] [uniqueidentifier] NOT NULL,
	[COMPANY_ID] [uniqueidentifier] NOT NULL,
	[WORK_DATE] [date] NULL,
	[DEPT_ID] [uniqueidentifier] NULL,
	[BUILDING_ID] [uniqueidentifier] NULL,
	[FLOOR_ID] [uniqueidentifier] NULL,
	[SHIFT_ID] [uniqueidentifier] NULL,
	[ITEM_ID] [uniqueidentifier] NULL,
	[UNIQUE_OPERATION_ID] [uniqueidentifier] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[STATUS] [char](1) NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS] ADD  DEFAULT ('Y') FOR [STATUS]
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([BUILDING_ID])
REFERENCES [dbo].[TAB_BUILDING_MASTER] ([BUILDING_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([BUILDING_ID])
REFERENCES [dbo].[TAB_BUILDING_MASTER] ([BUILDING_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[TAB_COMPANY_MASTER] ([COMPANY_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[TAB_COMPANY_MASTER] ([COMPANY_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[TAB_DEPARTMENT_MASTER] ([DEPT_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[TAB_DEPARTMENT_MASTER] ([DEPT_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([FLOOR_ID])
REFERENCES [dbo].[TAB_FLOOR_MASTER] ([FLOOR_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([FLOOR_ID])
REFERENCES [dbo].[TAB_FLOOR_MASTER] ([FLOOR_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[TAB_ITEM_MASTER] ([ITEM_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[TAB_ITEM_MASTER] ([ITEM_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([SHIFT_ID])
REFERENCES [dbo].[TAB_SHIFT_MASTER] ([SHIFT_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([SHIFT_ID])
REFERENCES [dbo].[TAB_SHIFT_MASTER] ([SHIFT_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([UNIQUE_OPERATION_ID])
REFERENCES [dbo].[TAB_ITEM_OPERATION_MASTER] ([UNIQUE_OPERATION_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([UNIQUE_OPERATION_ID])
REFERENCES [dbo].[TAB_ITEM_OPERATION_MASTER] ([UNIQUE_OPERATION_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([WF_ID])
REFERENCES [dbo].[TAB_WORKFORCE_MASTER] ([WF_ID])
GO

ALTER TABLE [dbo].[TAB_WF_WORK_DETAILS]  WITH CHECK ADD FOREIGN KEY([WF_ID])
REFERENCES [dbo].[TAB_WORKFORCE_MASTER] ([WF_ID])
GO
