<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internaLogToConsole="true"
      internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assemply="NLog.Extended"/>
  </extensions>
	

  <targets async="true">
     <target xsi:type="EventLog"  
                name="eventlog"  
                source="WFM"  
                layout="${message}${onexception:${newline}${exception:format=ToString}}">  
    </target>
    <target name="file" xsi:type="File"
      fileName="D:\AppLogs\WFM\WFM-${cached:cached=true:inner=${date:fomrat=yyyy-MM-ddd HH:mm}}.txt"
      keepFileOpen="false"
      archiveAboveSize="5242880"
      archiveFileName="D:\AppLogs\WFM\Archive\${shortdate}\WFM-${date:fomrat=yyyy-MM-ddd HH:mm}-{#}.txt"
      archiveNumbering="Sequence"
      bufferSize="1" layout="${longdate} ${logger} ${level} ${message}" >
      
      <!--<layout xsi:type="CSVLayout">
        <column name="Logger" layout="${logger}"/>
        <column name="Hostname" layout="${machinename}"/>
        <column name="LogGenerationTime" layout="${date:fomrat=yyyy-MM-dddTHH\:mm\:ss.fff}"/>
        <column name="Level" layout="${level}"/>
        <column name="Message" layout="${replace:inner=${message}:serachFor=\\r\\n|\\n:replaceWith=->:regex=true}"/>
      </layout>-->

    </target>

    <!--<target name="databaseinfo" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databaseinfo" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">     
      <commandText>
        Insert into Logs_Info (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
    <!--<target name="databaseerror" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databaseerror" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">
      <commandText>
        Insert into Logs_Error (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
    <!--<target name="databasedebug" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databasedebug" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">     
      <commandText>
        Insert into Logs_Debug (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
    <!--<target name="databasetrace" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databasetrace" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">
        <commandText>
        Insert into Logs_Trace (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
    <!--<target name="databasewarn" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databasewarn" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">     
      <commandText>
        Insert into Logs_Warn (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
    <!--<target name="databasefatal" xsi:type="Database" connectionString="Data Source=ABRAHAM\LOCALSQL;Initial Catalog=WFMSUMIT;User ID=sa;Password=admin@123;Connect Timeout=300">-->
    <target name="databasefatal" xsi:type="Database" connectionString="Data Source=172.20.1.106;Initial Catalog=WFM;User ID=sa;Password=sql@karam2o19;Connect Timeout=300">
        <commandText>
        Insert into Logs_Fatal (LoggedDate,ApplicationId,Namespace,Classname,Functionname,Area,Message) values (@LoggeDate,@ApplicationId,@Namespace,@Classname,@Functionname,@Area,@Message)
      </commandText>
      <parameter name="@LoggeDate" layout="${date}"/>
      <parameter name="@ApplicationId" layout="${event-properties:item=ApplicationId}"/>
      <parameter name="@Namespace" layout="${event-properties:item=Namespace}"/>
      <parameter name="@Classname" layout="${event-properties:item=Classname}"/>
      <parameter name="@Functionname" layout="${event-properties:item=Functionname}"/>
      <parameter name="@Area" layout="${event-properties:item=Area}"/>
      <parameter name="@Message" layout="${event-properties:item=Message}"/>
    </target>
  </targets>
  <rules>
    <!--<logger name="NLogLoggerFile" minlevel="Debug" writeTo="logfile" />
    <logger name="NLogLoggerDb" minlevel="Info" maxlevel="Info" appendTo="databaseinfo" />
    <logger name="NLogLoggerDb" minlevel="Error" maxlevel="Error" appendTo="databaseerror" />
    <logger name="NLogLoggerDb" minlevel="Debug" maxlevel="Debug" appendTo="databasedebug" />-->
	<logger name="*" minlevel="Error" writeTo="eventlog" />  
  </rules>
</nlog>
